body {
    background-color: rgb(231, 236, 238);
}

#page-content {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

a.nav-link.btn.btn-primary {
    color: blueviolet;
}

a.nav-link.btn.btn-primary:hover {
    color: white;
    background-color: blueviolet;
    
}

button {
    border-radius: 7px;
}


#add-note-btn {
    border-radius: 15px;
    position: relative;
    width: 45px;
    height: 45px;
    font-size: 27px;
    background-color: blueviolet;
    color: white;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 10px;
}