.note-card {
    background-color: palegoldenrod;
    padding: 7px;
    margin: 10px;
    width: 30%;
}

.note-card > button {
    width: 30%;
    margin: 3px;;
}

.note-card > p {
    font-size: 14px;
    color: dimgray;
}

.note-card > h4 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;

}