<form id="create-note-form">
    <fieldset>
        <legend>Create Note</legend>
        <label for="title">Title</label>
            <input type="text" name="title" id="title" placeholder="Title" required>
        <label for="content">Content</label>
            <textarea name="content" id="content" cols="30" rows="10" required></textarea>
        <label for="Category">Category</label>
            <select name="category" id="category" required>
                <option value="">Select Category</option>
                <option value="Family">Family</option>
                <option value="Work">Work</option>
                <option value="Hobbies">Hobbies</option>
                <option value="Other">Other</option>
            </select>
    </fieldset>
    <input type="submit" value="Save">
    <input type="button" id="cancel-btn" value="Cancel">
</form>

